
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

.textError {
    font-size: x-small;
    font-style: italic;
    color: red;
}

.textCorrect {
    font-size: x-small;
    font-style: italic;
    color: green;
}

